.card{
    transition: transform 0.4s ease-in-out;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,10,36,1) 27%, rgba(2,6,6,1) 71%);
    color: white;
    border: none;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}

.card:hover {
    transform: scale(1.05);
  }

  h4{
    color: white;
  }